/* Centering the Frigider */
.main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    height: 50vh;
    margin: 100px;
  }

  .frigider {
    border: 1px solid #ddd;
    padding: 20px;
    width: 90%; /* Adjust the width as needed */
    margin-left: 50px;
  }

  .frigider h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }

  /* Produse List Styles */
  .produse-list {
    display: flex;
    flex-wrap: wrap;
  }

  /* Adjust the width and margin as needed for responsiveness */
  .produs {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .produs {
      flex: 0 0 calc(50% - 20px);
    }
  }
