@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .friendList {
    display: flex;
    flex-direction: row;
    align-items: center;
} */